 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body{
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: 'Poppins', sans-serif;
}
.container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.center{
    background-color: rgb(7, 183, 253);
    height: 2rem;
    border-radius: 50%;
    width: 2rem;
    position: relative;
    

}
.eclipse1{
    width: 4rem;
    height: 13rem;
    border: 8px solid rgb(7, 183, 253);
    border-radius: 50%;
    position: absolute;
    rotate: 30deg;
    
}
.eclipse2{
    position: absolute;
    width: 4rem;
    height: 13rem;
    border: 8px solid rgb(7, 183, 253);
    border-radius: 50%;
    rotate: -30deg;
}
.eclipse3{
    position: absolute;
    width: 4rem;
    height: 13rem;
    border: 8px solid rgb(7, 183, 253);
    border-radius: 50%;
    rotate: -90deg;
}
.head{
    color: rgb(7, 183, 253);
    font-size: 4rem;
    position: absolute;
    bottom: 6rem;
    margin: auto;
}
.eclipse{
    animation: react infinite 25s linear;
}

@keyframes react {
from {
 transform: rotate(0deg);
}    
to{
    transform:rotate(360deg);
}
}

@media screen and (min-width:300px) and (max-width:600px){
    body{
        align-items: start;
    }
    .head{
        font-size: 3rem;
        padding-bottom: 9rem;
    }
    .container{
        height: 70%;
    }
}
@media screen and (min-width:600px) and (max-width:900px){
    body{
        align-items: start;
    }
    .container{
        height: 70%;
    }
    .head{
        padding-bottom: 8rem;
    }
}
@media screen and (min-width:900px) and (max-width:1200px){
    body{
        align-items: start;
    }
    .container{
        height: 70%;
    }
    .head{
        padding-bottom: 10rem;
    }
}